<!-- Three.js short code for linking JS code and rendering a scene -->

{{ $version := .Get "version" }}
{{ $id := .Get "id" }}
{{ $src := .Get "src" }}

<!-- Create a container for rendering the scene -->
<div id="threejs-container-{{ $id }}"></div>

<!-- Import Three.js -->
<!-- <script type="importmap">
  {
    "imports": {
      "three": "https://unpkg.com/three@{{ $version }}/build/three.module.js",
      "three/addons/": "https://unpkg.com/three@{{ $version }}/examples/jsm/"
    }
  }
</script> -->
<style>
    #threejs-container-hello {
      width: 100%;
      display: flex;
      justify-content: center; /* 水平居中内容 */
    }
    
    #threejs-container-hello canvas {
      display: block;
      margin: 0 auto;
    }
  </style>

<script type="importmap">
    {
        "imports": {
        "three": "./three.module.js",
        "three/": "./"
        }
    }
</script>


<!-- Load the script -->
<div id="threejs-container-hello" style="display: flex; justify-content: center; align-items: center;"> 
</div>
<script src="./dat.gui.min.js"></script>
<script type="module" src="{{ $src }}"></script>